SDL/
logs/
*stderr.txt
*stdout.txt
Git Bash.lnk
welcome.txt
*physim.h.txt
*psm.txt
*temp.txt
*framelog.txt
*allocation log.txt
scripts/test.cpp
test.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.tmp

*desktop.ini