SDL/
Debug/stderr.txt
Debug/stdout.txt

*physim.h.txt
*psm.txt
*temp.txt
*framelog.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.tmp